@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 2rem;
    font-family: roboto, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0.5rem;
    text-align: right;
    background-color: #000;
    color: whitesmoke;
    margin: 0;

}

li {
    display: inline-block;
    margin-inline: 0.5rem;
}

li a {
    color: whitesmoke;
    text-decoration: none;
}

li a:hover, li a:focus{
    color: lightgrey;
    text-decoration: underline;
}