@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    padding: 10%;
    font-size: 2rem;
    color: purple;
}

/* input, button {
    font: inherit;
    color: inherit;
} */

p {
    text-indent: 2em;
    letter-spacing: 0.04em;
}

