@import url('https://fonts.googleapis.com/css2?family=Fugaz+one&family=Nunito&display=swap');

/* || Reset */
*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    display: block;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

input, 
button, 
textarea {
    font: inherit;
}


/* || VARIABLES*/
:root {
    /* FONTS */
    --FF: "Nunito", sans-seriff;
    --FF-HEADINGS: "Fugaz One", cursive;
    --FF: clamp(1rem, 2.2vh, 1.5rem);

    /* COLOURS */
    --BGCOLOR: orange;
    --BGCOLOR-FADE: rgb(225, 220, 160);
    --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
    --BODY-BGCOLOR: #FFF;
    --FONT-COLOR: #000;
}


/* || UTILITY CLASSES */ 
.offscreen {
    position: absolute;
    left: -1000px;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}
 

